[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.8'

[packages]
aiohttp = '>=3.7.3'
lxml = '>=4.6.2'
"scraper" = { editable = true, path = "./scraper" }

[dev-packages]